.product{
    width: 90%;
    margin: auto;
    &__title{
        margin-top: 20px;
        padding: 10px 0px;
        p{
            font-size: 30px;
            font-weight: 600;
        }
    }
    &__body{
        &__sidebar{
            &__detail{
                border: 1px solid #EEEEEE;
                margin-bottom: 20px;
                padding-bottom: 8px;
                p{
                    padding: 8px;
                    background-color: #F7F7F7;
                    border-bottom:  1px solid #EEEEEE;
                    margin-bottom: 8px;
                }
                a{
                    padding: 8px;
                    margin: 8px 0px;
                }
            }
        }
        &__detail1{
        }
    }
}

