.productD{
    width: 100%;
    background-color: white;
    margin: -10px 0px;
    &__top{
        padding: 10px 0px;
        width: 90%;
        margin: 10px auto;
        .card-group{
            .col-4{
                max-width: 100%;
                margin-top: 10px;
            }
        }
        &__left{
            background-color: white;
            border-radius: 5px;
            border: 1px solid #e6e6e6;
            img{
                padding: 20px 0px;
                width: inherit;
            }
        }
        &__center{
            h3{
                font-size: x-large;
                font-weight: 700;
            }
            &__price{
                margin-top: 5px;
                span{
                    font-weight: 500;
                    color: #E11B1E;
                    font-size: 1.5rem;
                }
            }
            &__capacity{
                margin-top: 10px;
            }
            &__color{
                margin-top: 20px;
                &__item{
                    margin: 5px auto;
                    flex: auto;
                    &__box{
                        width: 100px !important;
                    }
                    .col-3{
                        flex: 0 0 30%;
                        padding: 10px;
                        text-align: center;
                        margin: 3px;
                        border-radius: 4px;
                        border: 1px solid #e1e4e9;
                        &:hover{
                            border: 1px solid red;
                        }
                        span{
                            color: #F51F58;
                            font-weight: 600;
                            font-size: 1.3rem;
                        }
                        h1{
                            margin-bottom: 5px;
                        }
                    }
                }
            }
            button{
                background-color: #F51F58;
                border: 1px solid #F51F58;
                border-radius: 5px;
                // width: 46%;
                width: 100%;
                height: 100%;
                padding: 10px;
                color: white;
                font-size: 1.2em;
                // margin: 5px;
                &:hover{
                    background-color: #F5F8FD;
                    border: 1px solid #F51F58;
                    color: #F51F58;
                    
                }
            }
        }
        &__right{
            h1{
                margin-top: 10px;
            }
            p{
                margin-top: 5px;
            }
            &__specifications{
                border: 1px solid #e6e6e6;
                &__title{
                    border-bottom: 1px solid #e6e6e6;
                    background-color: #F5F8FD;
                    padding: 15px 0px;
                    text-align: center;
                    span{
                        font-weight: 700;
                    }
                }
                &__body{
                    padding: 10px
                }
            }
        }
    }
    &__mid{
        margin: auto;
        width: 90%;
        // .card-group{
        .card-group{
            .col-8{
                max-width: 100%;
                margin: 0px;
            }
            .col-4{
                max-width: 100%;
            }
        }
        &__rate{
            // margin: 0px;
            padding: 0px;
            &__box{
                width: 100%;
                border: 1px solid #e6e6e6;
                border-radius: 5px;
                padding: 5px 10px;
                // .card-group{
                //     margin: 10px 5px;
                //     .col-3{
                //         padding: 5px 10px;
                //     }
                //     .col-6{
                //         padding: 5px 10px;
                //         max-width: 100%;
                //     }
                // }
                &__left{
                    padding: 5px 10px;
                }
                &__center{
                    padding: 5px 10px;
                    max-width: 100%;
                }
                &__right{
                    // &__btn{
                        margin: auto;
                        button{
                        background-color: #F51F58;
                        border: 0px;
                        border-radius: 5px;
                        width: 100%;
                        padding: 10px;
                        color: white;
                        font-size: 1.2em;
                        }
                    // }
                    
                }
                &__action{
                    margin: 15px;
                }
                
            }
            
        }
        // }
    }
}
