.product{
    background-color: #F5F8FD;
    &__drop{
        width: 202px;
        display: flex;
        // border: 1px solid #eaedf3;
        &__item{
            
            font-weight: 600;
            background-color: white;
            text-align: left;
            padding: 15px;
            max-height: 50px;
            border-radius: 0px;
            span{
                font-size: larger;
            }
            a{
                float: right;
            }
            
        }
        &__right{
            z-index: 100;
            display: none;
        }
        &:hover &__right{
                min-height: 50px;
                display: block;
                padding: 15px;
                will-change: transform;
                min-width: 200px;
                background-color: white;
                font-weight: 600;
                span{
                    font-size: larger;
                }
                a{
                    float: right;
                }
        }
        &__right1{
            display: none;
        }
        &:hover &__right1{
            min-height: 50px;
            display: block;
            padding: 15px;
            will-change: transform;
            min-width: 200px;
            background-color: white;
            font-weight: 600;
            span{
                font-size: larger;
            }
    }
    }
}

