.container{
    &__top{
        display: flex;
        width: 80%;
        margin: auto;
        &__left{
            margin-top: 20px;
            z-index: 100;
            // max-width: 100%;
        }
        &__right{
            margin-top: 20px;
            // width: 60%;
            // width: 100%;
            // float: right;
            margin-bottom: 20px;
            max-width: 100%;
        }
    }
    &__product{
        margin: auto;
        width: 80%;

        &__seemore{
            width: 100%;
            button{
                margin-left: 10px;
                padding: 5px;
                border: none;
                border-radius: 2px;
                background-color: gray;
            }
        }
        &__filtersort{
            margin-top: 20px;
            width: 100%;
            border: 1px solid rgb(212, 212, 212);
            border-radius: 2px;
            background-color: white;
            display: flow-root;
            margin-bottom: 10px;
            select{
                margin: 10px 10px;
                float: right;
                padding: 5px;
            }
            button{
                padding: 7px;
                margin: 10px;
                float: right;
                border: none;
                color: white;
                border-radius: 4px;
                background-color: rgb(122, 120, 120);
            }
        }
        &__item{
            background-color: white;
            display: flow-root;
        }
    }
}